
<!doctype html>
<html ng-app="myApp" lang="en">
<head>
  <title>EXP</title>
  <script src="js/angular.min.js"></script>
  <script src="js/main.js"></script>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body ng-controller="stockWrap">
  <div ng-repeat="s in stockObjs">
    <div ng-controller="item" style="background-color:{{s.stockColor}}" class="stock">
      <div class="ticker"> {{s.name}} </div>
      <div class="change">
        <span class="desc"> change</span>
        <span class="data"> {{s.change}} </span>
      </div>
      <div class="current">
        <span class="desc"> current</span>
        <span class="data"> {{s.current}} </span>
      </div>
      <div class="stock-value">
        <span class="desc"> {{s.valueLabel}}</span>
        <span class="data a"> {{s.value}}  </span>
      </div>
      <div class="control-column">
        <div class="shares">
          <input ng-model="share" ng-show="showShareValue" class="add-shares" type="text">
          <a href="#" ng-click="addShares(share,s.current,s.name)" class="add-share">{{addShareText}}</a>
        </div>
        <div class="remove">
          <a href="#" ng-click="trash(s)" class="remove-stock">[-] Remove Stock</a>
        </div>
      </div>
    </div>
  </div>
  <div ng-controller="adder" class="new-stock">
    <form  ng-submit="addStock()" name="myForm">
      <input ng-model="newStock" type="text"><button class="add-stock">Enter Stock Symbol</button>
    </form>
  </div>
</body>
</html>