<!doctype html> 
<html ng-app="myApp" lang="en">
<head>
  <title>EXP</title>
  <script src="js/angular.min.js"></script>
  <script src="js/main.js"></script>
  <link rel="stylesheet" href="css/styles.css"> 
</head>
<body ng-controller="stockWrap">
  <div ng-repeat="s in stockObjs">
    <div style="background-color:{{s.stockColor}}" class="stock">
      <div class="ticker"> {{s.ticker}} </div>
      <div class="change"> {{s.percentChange}} </div>
      <div class="current"> {{s.current}} </div>
      <div class="remove"><button class="remove-stock" ng-click="trash(s)">[-]</button></div>
    </div>
  </div>
  <div ng-controller="adder" class="new-stock">
    <form  ng-submit="addStock()" name="myForm">
      <input ng-model="newStock" type="text"><button class="add-stock">Enter Stock Symbol</button>
    </form>
  </div>
</body>
</html>