<!doctype html> 
<html ng-app="myApp" lang="en">
<head>
  <title>EXP</title>
  <script src="js/angular.min.js"></script>
  <script src="js/main.js"></script>
  <link rel="stylesheet" href="css/styles.css"> 
</head>
<body ng-controller="stockWrap">
  <div ng-repeat="s in stockObjs">
    <div ng-controller="item" style="background-color:{{s.stockColor}}" class="stock">
      <div class="ticker"> {{s.ticker}} </div>
      <div class="change">
        <span class="desc"> change</span>
        <span class="data"> {{s.percentChange}} </span>
      </div>
      <div class="current">
        <span class="desc"> current</span>
        <span class="data"> {{s.current}} </span>
      </div>
      <div class="remove">
        <button class="remove-stock" ng-click="trash(s)">[-]</button>
        <input ng-model="share" class="add-shares" type="text">
        <button ng-click="addShares(share,s.current)">[+]</button>
      </div>
      <div class="shares">
          {{ shares }}
      </div>
    </div>
  </div>
  <div ng-controller="adder" class="new-stock">
    <form  ng-submit="addStock()" name="myForm">
      <input ng-model="newStock" type="text"><button class="add-stock">Enter Stock Symbol</button>
    </form>
  </div>
</body>
</html>